argon2-cffi 
astroid==2.5
async-generator==1.10
attrs 
backcall 
backports.functools-lru-cache==1.6.1
bleach
certifi==2020.12.5
cffi 
click==7.1.2
colorama==0.4.4
decorator==4.4.2
defusedxml==0.6.0
entrypoints 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils==0.2.0
isort==5.7.0
jedi 
Jinja2
joblib==1.0.1
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments
lazy-object-proxy==1.5.2
MarkupSafe 
mccabe==0.6.1
mistune 
mkl-fft== 1.0.6
mkl-random==1.0.1
nbclient
nbconvert
nbformat
nest-asyncio
nltk==3.5
notebook
numpy
olefile==0.46
packaging 
pandas 
pandocfilters==1.4.2
parso 
pickleshare 
Pillow
prometheus-client 
prompt-toolkit 
pycparser
Pygments
pylint==2.7.1
pyparsing==2.4.7
pyrsistent 
python-dateutil==2.8.1
pytz 
pywinpty 
pyzmq 
regex==2020.11.13
Send2Trash==1.5.0
six 
terminado
testpath==0.4.4
toml==0.10.2
tornado 
tqdm==4.57.0
traitlets
typing-extensions
wcwidth 
webencodings==0.5.1
wincertstore==0.2
wrapt==1.12.1
zipp 
gunicorn